<div class="container">
    <div class="col-md-12">
      <h1>Fancycle</h1>
      <hr>
      <div class="btn-group">
        <button type="button" class="btn btn-default" id="justin">Justin Bieber</button>
        <button type="button" class="btn btn-default" id="selena">Selena Gomez</button>
        <button type="button" class="btn btn-default" id="miley">Miley Cyrus</button>
      </div>

      <div class="song hidden" id="baby">
        <h1>Baby</h1>

        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs" id="colorize">Colorize</button>
          <button type="button" class="btn btn-default btn-xs" id="increase-text-size">Text +</button>
          <button type="button" class="btn btn-default btn-xs" id="decrease-text-size">Text -</button>
        </div>

        <h5 id="views">
          Views: <span id="view-counter">0</span>
        </h5>

        <p>
          You know you love me, I know you care
          <br>
          Just shout whenever, and I'll be there
          <br>
          You are my love, you are my heart
          <br>
          And we will never ever ever be apart
        </p>

        <p>
          Are we an item? Girl, quit playing
          <br>
          We're just friends, what are you saying?
          <br>
          Say there's another and look right in my eyes
          <br>
          My first love broke my heart for the first time
          <br>
          And I was like...
        </p>

        <p>
          Baby, baby, baby oooh
          <br>
          Like baby, baby, baby nooo
          <br>
          Like baby, baby, baby oooh
          <br>
          I thought you'd always be mine
        </p>
      </div>

      <div class="song hidden" id="come-and-get-it">
        <h1>Come & Get It</h1>

        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs" id="colorize">Colorize</button>
          <button type="button" class="btn btn-default btn-xs" id="increase-text-size">Text +</button>
          <button type="button" class="btn btn-default btn-xs" id="decrease-text-size">Text -</button>
        </div>

        <h5 id="views">
          Views: <span id="view-counter">0</span>
        </h5>

        <p>
          You ain't gotta worry, it's an open invitation
          <br>
          I'll be sittin' right here, real patient
          <br>
          All day, all night, I'll be waitin' standby
          <br>
          Can't stop because I love it, hate the way I love you
          <br>
          All day all night, maybe I'm addicted for life, no lie.
        </p>

        <p>
          I'm not too shy to show I love you, I got no regrets.
          <br>
          I love you much, too much to hide you, this love ain't finished yet.
          <br>
          This love ain't finished yet
          <br>
          So baby whenever you're ready
        </p>

        <p>
          When you're ready come and get it
          <br>
          Na na na na
          <br>
          Na na na na
          <br>
          Na na na na
        </p>
      </div>

      <div class="song hidden" id="wrecking-ball">
        <h1>Wrecking Ball</h1>

        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs" id="colorize">Colorize</button>
          <button type="button" class="btn btn-default btn-xs" id="increase-text-size">Text +</button>
          <button type="button" class="btn btn-default btn-xs" id="decrease-text-size">Text -</button>
        </div>

        <h5 id="views">
          Views: <span id="view-counter">0</span>
        </h5>

        <p>
          We clawed, we chained, our hearts in vain
          <br>
          We jumped, never asking why
          <br>
          We kissed, I fell under your spell
          <br>
          A love no one could deny
        </p>

        <p>
          Don’t you ever say I just walked away
          <br>
          I will always want you
          <br>
          I can’t live a lie, running for my life
          <br>
          I will always want you
        </p>

        <p>
          I came in like a wrecking ball
          <br>
          I never hit so hard in love
          <br>
          All I wanted was to break your walls
          <br>
          All you ever did was break me
          <br>
          Yeah, you wreck me
        </p>
      </div>
    </div>
  </div>
