<div class="filter">
  <label>Filter By Department</label>
  <%= select :robot, :filter_department, @departments, {include_blank: true} %>
  <label>Filter By State</label>
  <%= select :robot, :filter_state, @states, {include_blank: true} %>
  <label>Filter By Name</label>
  <%= text_field :robot, :filter_name %>
</div>
